* {
  font-family: 'Inter', sans-serif;
  color: $color-primary-text;
  letter-spacing: 0.06em;
  transition: all 0.4s linear;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 320px;
}

:root { 
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}
