.footer {
  &__info {
    margin-left: -1px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__legal {
    text-align: right;
    padding: 24px 0 20px;
  }
  &__copyright {
    padding-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.93rem;
    letter-spacing: -0.003em;
  }
  &__privacy-policy {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.93rem;
    letter-spacing: -0.003em;
  }
}

@media (max-width: $tablet-portrait) {
  .footer {
    margin: 0;
    padding-top: 36px;
    &__info {
      flex-direction: column;
      gap: 21px;
    }
    &__legal {
      text-align: left;
      padding: 50px 0 60px;
    }
    &__copyright {
      letter-spacing: 0.001em;
    }
    &__privacy-policy {
      letter-spacing: 0.001em;
    }
  }
}

@media (max-width: $phone) {
  .footer {
    background-color: #0E1014;
  }
}