.header {
  display: flex;
  padding-top: 57px; 
  padding-bottom: 93px;
  gap: 10px;
  justify-content: space-between;
}

@media (max-width: $tablet-portrait)  {
  .header {
    padding-top: 18px; 
    padding-bottom: 18px;
  }
}

@media (max-width: $phone) {
  .header {
    justify-content: center;
    background-color: #0E1014;
  }
}