.logo {
  padding: 0;
  width: 165px;
  &__image {
    width: 35.05px;
    height: 24px;
  }
  &__name {
    width: 95.87px;
    height: 14.14px;
  }
  &__subtitle {
    font-size: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0.001em;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 8.12px;
    margin-bottom: 9px;
  }
}

@media (max-width: $phone) {
  .logo {
    display: none;
  }
}