.main {
  display: flex;
  justify-content: space-between;
  margin-right: -5px;
  padding-bottom: 125px;
  &__title{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.62rem;
    max-width: 362px;
    padding-bottom: 30px;
    letter-spacing: 0.001em;
    &_colored {
      font-weight: 900;
      background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
      background-clip: text;
      color: transparent;
      letter-spacing: 0.001em;
    }
  }
  &__subtitle {
    padding: 0;
    max-width: 275px;
    font-size: 1.12rem;
    line-height: 1.37rem;
    letter-spacing: 0.05em;
  }
}