.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 125px;
  &__title{
    margin-left: -3px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.62rem;
    max-width: 362px;
    padding-bottom: 30px;
    letter-spacing: 0.001em;
    &_colored {
      font-weight: 900;
      background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
      background-clip: text;
      color: transparent;
      letter-spacing: 0.001em;
    }
  }
  &__subtitle {
    margin-left: -3px;
    padding: 0;
    max-width: 275px;
    font-size: 1.12rem;
    line-height: 1.37rem;
    letter-spacing: 0.05em;
  }
}

 @media (max-width: $tablet-portrait)  {
  .main {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 46px;
    &__subtitle {
      max-width: 450px;
    }
  }
}

@media (max-width: $phone) {
  .main {
  margin-left: 0;
  padding-bottom: 65px;
  &__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    max-width: 272px;
    padding-bottom: 15px;
  }
  &__subtitle {
    max-width: 271px;
    letter-spacing: 0.04em;
  }
  }
}