.navigation {
  padding: 4px 0 0;
  &__list {
    @include rul;
    display: flex;
    gap: 30.5px;
    align-items: center;
    font-weight: 500;
    line-height: 1.18rem;
    letter-spacing: -0.05em;
  }
  &__link {
    letter-spacing: 0.001em;
  }
}

@media (max-width: $tablet-portrait) {
  .navigation { 
    padding: 0;
    &__item:last-child {
      display: none;
    }
    &__list {
      gap: 16px;
    }
    &__link {
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 0.93rem;
      letter-spacing: 0.01em;
    }
  }
}
