.page {
  background-image: url('./assets/images/desktop-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0E1014;
}

@media (max-width: $phone) {
  .page {
    background-image: url('./assets/images/mobile-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 0%;
  }
}