h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.06rem;
  text-transform: uppercase;
  color: $color-secondary-text;
  letter-spacing: 0.05em;
}

@media (max-width: $tablet-portrait) {
  h4 {
    font-size: 0.75rem;
    line-height: 0.93rem;
    letter-spacing: 0.05em;
  }
}