h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.06rem;
  text-transform: uppercase;
  color: $color-secondary-text;
  letter-spacing: 0.05em;
}