$color-primary-text: #E4E5EA;
$color-secondary-text: #656566;
$color-button: #4077F3;
$color-primary-bg: #1E1E1E;
$color-gradient-text: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
$color-gradient: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);


