$color-primary-text: #E4E5EA;
$color-secondary-text: #656566;
$color-button: #4077F3;
$color-primary-bg: #1E1E1E;
$color-gradient-text: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
$color-gradient: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);

$small-phone: 320px;
$phone: 480px;
// $tablet-600: 600px;
$tablet-portrait: 768px;
$tablet: 1024px;
$desktop-lg: 1200px;


